@import "fa.css";
@import "header.css";
@import "responsive.css";
@import "homepage-conent.css";
:root {
    --light: #fff;
    --dark: #333;
}

body {
    background-color: var(--light);
    color: var(--dark);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: visible;
    overflow-x: hidden;
}

.github>a {
    color: orange;
}