.nav {
    width: 70%;
    margin: auto;
    
}

.nav>a {
    padding: 3px 3% 3px 3%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
}

/* .nav>a:first-child {
    margin-left: 10%;
} */