body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;
}

a {
    color: #58bff6;
    text-decoration: none;
}

a:hover {
    color: #aaa;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clear-fix {
    clear: both;
}